<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nuevo turno
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo-formulario"> Solicitar turno </ion-card-title>
      <ion-card-subtitle class="subtitulo-formulrio"> Complete el formulario </ion-card-subtitle>
    </ion-card-header>
  

<ion-card-content>
  <form (ngSubmit)="solicitarTurnoSubmit()">
   

<ion-item class="fecha-item">
  <ion-label class="fechaT">Fecha y Hora</ion-label>
  <ion-datetime
    display-format="YYYY-MM-DD"
    [(ngModel)]="solicitarTurno.fecha"
    name="fecha"
  ></ion-datetime>
</ion-item>


    <ion-item>
     <ion-label position="floating"> Domicilio </ion-label>
     <ion-input [(ngModel)]="solicitarTurno.domicilio" name="domicilio"></ion-input>
    </ion-item>


    <ion-item>
     <ion-label position="floating"> Especificaciones </ion-label>
     <ion-input [(ngModel)]="solicitarTurno.especificaciones" name="especificaciones"></ion-input>
    </ion-item>


    <ion-item>
     <ion-label position="floating"> Nombre </ion-label>
     <ion-input [(ngModel)]="solicitarTurno.nombre" name="nombre"></ion-input>
    </ion-item>

    <ion-toggle [(ngModel)]= "solicitarTurno.urgencia" [enableOnOffLabels]="true" name="urgencia">Urgencia</ion-toggle>

    <ion-button expand="block" class="boton-enviar" (click)="solicitarTurnoSubmit()">  
      Enviar
    </ion-button>


  </form>
</ion-card-content>
  </ion-card>
  
<ion-content class="ion-padding">
  <ion-button routerLink="/home" expand="block" color="medium">
    Volver a Home
  </ion-button>
</ion-content>

</ion-content>