<ion-header [translucent]="true">

<ion-toolbar>
    <ion-title>
      VetNow 🐾
    </ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/home">Home</ion-button>
      <ion-button routerLink="/nuevo-turno">Nuevo Turno</ion-button>
      <ion-button routerLink="/contacto">...</ion-button>
      <ion-button routerLink="/nosotros">🐾</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
  <ion-button routerLink="/nuevo-turno" expand="block" color="medium">
    Nuevo Turno
  </ion-button>
</ion-content>


<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a la Clínica</ion-card-title>
      <ion-card-subtitle>Seleccioná una opción del menú</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

</ion-content>




